<div class="container">
    <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Article Comments</h4>
        </div>
        <p>Search for a beer to log</p>
        <div class="modal-body">
            <div id="add-beer-input-section" class="input-group">
                <form>
                    <input type="text" class="form-control" id="beerSearched" placeholder="Enter a comment..." />
                    <div class="table-section">

                    </div>
                    <div id="buttons-section">
                        <button type='submit' class='add-note btn-small'>Add comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat">Cancel</a>
    </div>
</div>

    <h1>Saved articles</h1>
    <div class="row saved-articles">
        {{#each articles}}
        <a href={{link}}>
            <h3>{{title}}</h3>
        </a>
        <p>{{teaser}}</p>
        <button class="btn btn-small article-comments modal-trigger" data-target="modal1" data-id={{_id}}>Article comments</button>
        <button class="btn btn-small red delete-save" data-id={{_id}}>Remove from saved</button>
        {{/each}}
    </div>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>