<nav>
    <div class="nav-wrapper white darken-2">
        <div class="container">
            <a href="/" class="brand-logo"><img class="npr-logo" src="/img/npr-logo.svg" /></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><b><a class="view-saved nav-link" href="/saved">Saved articles</a></b></li>
                <li><b><a class="scrape nav-link">Scrape NPR Music</a></b></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Article Comments</h4>
        </div>
            
        <div class="modal-body">
                <div class="card comment-section">

                </div>
                <form>
                    <input type="text" class="form-control comment-body" placeholder="Enter a comment..." />

                    <div id="buttons-section">
                        <button type='submit' class='add-comment btn-small'>Add comment</button>
                    </div>
                </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat">Cancel</a>
    </div>
</div>

    <h1>Saved articles</h1>
    <div class="row saved-articles">
        {{#each articles}}
        <a href={{link}}>
            <h3>{{title}}</h3>
        </a>
        <p>{{teaser}}</p>
        <button class="btn btn-small article-comments modal-trigger" data-target="modal1" data-id={{_id}}>Article comments</button>
        <button class="btn btn-small red delete-save" data-id={{_id}}>Remove from saved</button>
        {{/each}}
    </div>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>